{% extends 'layout.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <content>
        <section>
            <h1>Главная страница</h1>
            <p>Главная страница</p>
        </section>
        <section>
            <h2>Курсы по программированию</h2>
            <p>Курсы по программированию</p>
        </section>
        <section>
            <h2>Языки программирования</h2>
            <p>Языки программирования</p>
        </section>
        <section>
            <h2>Технологии программирования</h2>
            <p>Технологии программирования</p>
        </section>

        <!--
        <div class="test test1">Тест 1</div>
        <div class="test test2">Тест 2</div>
        <div class="test test3">Тест 3</div>
        <div class="test test4">Тест 4</div>
        <div class="test test5">Тест 5</div>
        -->
    </content>
{% endblock %}
